{{#collection tag="ul"}}
  <li {{#done}}class="done"{{/done}}>
    <input type="checkbox" {{#done}}checked{{/done}}>
    {{title}}
  </li>    

<form>
  <input name="title">
  <input type="submit" value="Add">
</form>

<img id="eng-translate" src="bower_components/flag-sprites/flags/england.png"/> 
<img id="ch-translate" src="bower_components/flag-sprites/flags/tw.png"/> 

{{/collection}}